body {
    >footer {
        padding-inline: var(--container-inline-padding);
        padding-block: var(--space-2xl);
        background-color: var(--color-bg-surface);
        border-radius: var(--radius-button) var(--radius-button) 0 0;
        border-top: 1px solid var(--color-border-subtle);

        @media (min-width: 64rem) {
            padding-top: var(--space-3xl);
            padding-bottom: var(--space-lg);
        }

        &.footer--attached {
            border-top: none;
            border-radius: 0;

            @media (min-width: 64rem) {
                padding-top: var(--space-md);
            }
        }
    }
}