.legal-card {
    /* list styling */
    ul {
        list-style: disc;
        padding-inline-start: var(--space-xl);
    }

    li+li {
        margin-block-start: var(--space-xs);
    }

    /* margin-styling */
    >h2+p,
    >h3+p {
        margin-block-start: var(--space-md);
    }
}